body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(235, 225, 225);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #0056b3;
    text-align: center;
}

code {
    background-color: #e8e8e8;
    padding: 2px 4px;
    font-family: "Courier New", Courier, monospace;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-left: 4px solid #0056b3;
    overflow-x: auto;
}